<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='expen.ico') }}" type="image/x-icon">
</head>
<body>
    <div class="wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('main_bp.index') }}">Family Expenses</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    {% if 'username' in session %}
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('user_bp.logout') }}">Logout</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('user_bp.login') }}">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('user_bp.register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="content">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="container mt-4">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
        <footer class="footer">
            <p>&copy; 2024 Family Expenses</p>
        </footer>
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
