{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="text-center">Login</h2>
        <form method="post">
            {% if get_flashed_messages() %}
                <div class="alert alert-danger">
                    {{ get_flashed_messages()[0] }}
                </div>
            {% endif %}
            <div class="form-group">
                <label for="username_or_email">Username or Email</label>
                <input type="text" class="form-control" id="username_or_email" name="username_or_email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <a href="{{ url_for('user_bp.register') }}" class="btn btn-link">Register</a>
        </form>
    </div>
</div>
{% endblock %}
